<div class="memorylist-master-container">

  <div class="compsition-builder-container">
      <div class="form-container">

          <h1>Memory List Builder</h1>
          <p>You can use the memory list builder to create your personalized memory list!</p>
          <div class="container">
            <%= render 'components/composition-builder' %>
          </div>

      </div>
  <p class="link-button"><%= link_to 'Back', memory_lists_path, class: 'btn btn-primary' %></p>
  </div>
</div>
