<div class="container">
  <div class="form-container">
    <div class="w-50 mx-auto shadow py-5 my-5 bg-body rounded">
      <h2>Create a new Memory List </h2>
      <%= render 'components/memory-list-form'  %>
    </div>
  </div>
  <p class="link-button"><%= link_to 'Back', memory_lists_path, class: 'btn btn-primary' %></p>
</div>
