<div class="row d-flex justify-content-center">
  <div class="col-4">
    <h1> Add your composition </h1>
    <%= simple_form_for [:playlist, @playlist_composition] do |f| %>
    <%= f.association :composition %>
    <%= f.hidden_field :playlist_id, value: @playlist.id %>
    <%= f.submit "Add your composition" %>
  <% end %>
  </div>
</div>
