
      <div class="placeholder-card">
        <div class="placeholder-card-stats">
            <div class="visualizer">
              <p>Drag and drop your instrumental here</p>
              <%= image_tag 'visualizer.gif', alt: "playlist icon"%>
            </div>
        </div>
      </div>
