<div class ="instrumentals-master-container">
  <div class ="instrumentals-card-container">
    <% @instrumentals.each do |instrumental|%>
      <div class="instrumental-card">
    <div class="border m-3 p-3">
        <div class="instrumental-card-stats">
          <h4><strong><%= instrumental.title %></strong></h4><p>by <%= instrumental.artist %></p>
          <p class="link-button"><%= link_to 'Sample the track', instrumental_path(instrumental), class: 'btn btn-secondary' %></p>
        </div>
    </div>
      </div>
    <% end %>
  </div>
</div>
