
<div class="differentiator">
  <div class ="instrumentals-card-container">
    <% @instrumentals.each do |instrumental|%>
      <div class="instrumental-card">
        <div class="instrumental-card-stats">
          <div class="playlist-card">
            <%= image_tag 'playlist', alt: "playlist icon"%>
            <p><strong><%= instrumental.title %></strong></p><p>by <%= instrumental.artist %></p>
            <p class="link-button"><%= link_to 'Sample the track', instrumental_path(instrumental), class: 'btn btn-secondary' %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
