
      <div class="placeholder-card">
        <div class="placeholder-card-stats">
            <div class="visualizer">
              <%= image_tag 'visualizer2.gif', alt: "playlist icon"%>
            </div>
        </div>
      </div>
