<div class="col-md-4 col-sm-6 col-12 mx-auto ">
    <div class="memory-list-card">
      <div class="flashcard-collection">
      <% memory_list.flashcards.each do |flashcard| %>
        <div class="flashcard-box">
          <div class="flashcard-box-inner">
            <div class="flashcard-inner-front">
              <%= flashcard.english_word  %>
            </div>
            <div class="flashcard-inner-back">
              <%= flashcard.japanese_word %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <%= link_to memory_list_path(memory_list), class: "memory-list-link" do %>
        <strong><%= memory_list.name %></strong>
      <% end %>
    </div>
</div>