
      <div class="placeholder-card">
        <div class="placeholder-card-stats">
            <div class="visualizer">
              <p>Drag and drop your memory list here</p>
              <%# <%= image_tag 'brain.gif', alt: "playlist icon"%>
            </div>
        </div>
      </div>
