
<div style="height:80px;width:600px;border:1px solid #ccc; overflow:auto;">
  <div class="memory-list-cards-holder">
      <div class="row text-center">
        <% @memory_lists.each do |memory_list|%>
            <p>
              <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <%= memory_list.name %>
              </a>
            </p>
              <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <div class="col-sm-8">
                      <% memory_list.flashcards.each do |flashcard| %>
                          <div class="flex-container">
                              <div class="flex-child">
                                <div class="border"><%= flashcard.english_word %></div>
                              </div>
                              <p>=</p>
                              <div class="flex-child">
                                <div class="border"><%= flashcard.japanese_word %></div>
                              </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
              </div>
        <% end %>
      </div>
  </div>
</div>
