<div class="banner">
  <div class="container">
    <h1>Index Page for Flashcards</h1>
  </div>
</div>

<div class="flashcard-cards-holder">
  <% if @flashcards.present? %>
    <% @flashcards.each do |flashcard|%>
      <div class="row">
        <div class="card-flashcard">
          <img class="profile-image" src="https://picsum.photos/200" alt="Place-holder-images">
          <div class="profile-content">
            <ul>
              <li><strong>English: </strong> <%= flashcard.english_word %></li>
              <li><strong>Japanese: </strong> <%= flashcard.japanese_word %></li>
              <li><strong>Category: </strong> <%= flashcard.category %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<p class="link-button"><%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %></p>
