// Specific CSS for your home-page
header.home-hero {
  position: relative;
  height: 89vh;
  min-height: 25rem;
  width: 100%;
  background-image: cover;
  overflow: hidden;
}
header.home-hero .container {
  position: relative;
  z-index: 2;
  height: 100%;
}
header.home-hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.banner-text {
  color:white;
  margin-top: 228px;
  p {
    color:white !important;
  }
}

.details-container {
  margin-top: 68px;
}

.number{
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #794DC5;
  border-radius: 18px;
  left: 24px;
  bottom: -18px;
  color: #794DC5;
}

.home-wrapper {
 width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;


///purple///
background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *
// background: #bdc3c7;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-card{
  margin: 40px 40px 40px 40px;
  height: 600px;
  border-radius: 18px;
  // Argon //
  background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.home-image {
  margin-top:48px;
}
.home-image img {
width: 350px;
height: 350px;
animation-name: home-image;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
margin-left: 30px;
margin-top: 5px;
}


@keyframes home-image {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
