// Specific CSS for your home-page
header.home-hero {
  position: relative;
  height: 89vh;
  min-height: 25rem;
  width: 100%;
  background-image: cover;
  overflow: hidden;
}
header.home-hero .container {
  position: relative;
  z-index: 2;
  height: 100%;
}
header.home-hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.banner-text {
  color:white;
  margin-top: 228px;
  p {
    color:white !important;
  }
}

.number{
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #794DC5;
  border-radius: 28px;
  left: -8px;
  bottom: 6px;
  margin-bottom:28px;
  color: #794DC5;
   h2 {
     font-weight: 12 !important;
   }
}

.home-wrapper {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;
///purple///
background: #21202e;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *
// background: #bdc3c7;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-card{
  margin: 40px 40px 40px 40px;
  height: 350px;
  border-radius: 12px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding:18px;
  // Argon //
  // background: #03001e;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-image {
  margin-top:48px;
}
.home-image img {
width: 150px;
height: 150px;
}

#banner-image {
width: 200px;
height: 300px;
img {
  filter: drop-shadow(10px 5px 118px #d5e2f7);
}

}

.text-container {
padding: 48px;
background-color:#F650AA;
border-radius:18px;
display:block;
}

.details-container {
background-color: #000019;
padding:28px;
}
