.memorylist-master-container-body-show {
  background: #21202e;
  // height: 1200px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.memorylist-master-container-show {
  margin: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px $dark-gray;

  background: white;
  // height: 1200px;
  padding-top: 30px;
  padding-bottom: 30px;
  // background: #41295a;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to left, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.memorylist-master-container-show h1 {
  font-family: $headers-font;
  color: black;
  text-shadow: 1px 1px 3px $mid-gray;
  font-size: 48px;
  font-weight: bold;

  // padding: 30px;
  // box-shadow: 2px 2px 5px $glow-box-shadow;
  // border-radius: 10px;
  // background: #03001e;
}

.memorylist-master-container-show h2 {
  font-family: $headers-font;
  color: black;
  text-shadow: 0px 0px 3px $mid-gray;
  font-size: 32px;
  font-weight: bold;
}

.memorylist-master-container-show h3 {
  font-family: $headers-font;
  color: black;
  text-shadow: 0px 0px 3px $mid-gray;
  font-size: 16px;
  font-weight: bold;
}

// .memorylist-master-container-show .btn {
//     padding: 14px 24px;
//     border: 0 none;
//     font-weight: 700;
//     letter-spacing: 1px;
//     text-transform: uppercase;

//     // font-family: $headers-font;
//   // margin: 50;
//   // color: black;
//   // text-shadow: 0px 0px 3px $mid-gray;
//   // font-size: 16px;
// }

.memorylist-master-container .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.memorylist-master-container .nav-btn {
    display: flex;
    background: #F751AA;
    color: #fefefe;
    border-radius: 30px;
    width: 180px;
    height: 50px;
    font-size: 13px;
    text-align: 'center';
    justify-content: center;
    align-items: center;
}

.memorylist-master-container .nav-btn:hover, .nav-btn:focus, .nav-btn:active, .nav-btn.active, .open > .dropdown-toggle.nav-btn {
    color:black;
}

.memorylist-master-container .nav-btn:active, .nav-btn.active {
    color:black;
    box-shadow: none;
}
