.playlists-wrapper {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;
}

.playlists-card {
  width: 230px;
  height: 280px;
  background-color: white;
  box-shadow: 0px 0px 8px lightgrey;
  border-radius: 12px;
  margin: 18px 18px;
  overflow:hidden;
  display:flex;
  flex-direction: column;
}

.bottom-card {
  background-color: #B5C8DB;
  height: 70%;
  width: 100%;
  position: relative;
  bottom: -24px;
  text-decoration: none;
  color: black;
  text-align: center;
}


.image {
display:flex;
justify-content: center;
align-items: center;
}

.image img{
width: 100px;
height: 100px;
margin-top:8px;
}
