<% @compositions.each do |composition| %>
  <ul>
    <h4>Memory List</h4>
    <% composition.memory_list.each do |phrase| %>
    <ul>
      <li><%= phrase  %></li>
    </ul>
    <% end %>

    <h4>Instrumental Details</h4>
    <li>Rep count: <%= composition.rep_count %></li>
    <li>Instrumental title: <%= composition.instrumental.title %></li>
    <li>Instrumental duration: <%= composition.instrumental.duration %></li>
  </ul>
<% end %>
