<div class="container">
  <div class="form-container">
    <div class="w-150 mx-auto shadow p-5 py-5 my-5 bg-body rounded">
      <h2>Create a composition</h2>
      <%= render 'components/compositions-form', composition: @composition %>
    </div>
     <%= link_to "Back to top", compositions_path, class: 'btn btn-secondary' %>
  </div>
</div>
