
<%= link_to "Back to My Compositions", compositions_path, class: 'btn btn-secondary' %>


<div class="master-box-memory-list">

  <div class="create-container">
      <div class="container">
        <div class="form-container">
          <div class="w-150 mx-auto shadow p-5 py-5 my-5 bg-body rounded">
            <h2>Create a composition</h2>
            <%= render 'components/compositions-form', composition: @composition %>
          </div>
        </div>
      </div>
  </div>

  <div class="form-container">
    <div class="shadow p-5 py-5 my-5 bg-body rounded">
      <div class="container">
        <%= render 'components/composition-builder' %>
      </div>
    </div>
  </div>

  <div class="instrumentals-container">
    <div class="container">
        <div class="w-150 mx-auto shadow p-5 py-5 my-5 bg-body rounded">
          <h2>Instrumentals</h2>
            <div style="height:640px;width:240px; overflow:auto;">
              <%= render 'components/instrumentals-index' %>
            </div>
        </div>
    </div>
  </div>

</div>
