<div class="footer d-flex flex-column min-vh text-center">
  <footer class= "mt-auto">
  <div class="text-center p-3">
   <ul class="list-inline">
          <li class= "list-inline-item">
            <a class= "footer-logo" href="#">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </li>
          <li class= "list-inline-item">
            <a class= "footer-logo" href="#">
               <i class="fab fa-facebook fa-2x"></i>
            </a>
          </li>
          <li class= "list-inline-item">
           <a class="footer-logo" href="#">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
          </li>
        </ul>
    © 2022 Copyright Two By Four
  </div>
</footer>

</div>
