<div class ="instrumentals-master-container">
  <div class ="instrumentals-card-container">
    <% @instrumentals.each do |instrumental|%>
      <div class="instrumental-card">
        <div class="instrumental-card-stats">
          <h2><strong><%= instrumental.title %></strong></h2>
          <p>by <%= instrumental.artist %></p>
          <p class="link-button"><%= link_to 'Select', instrumental_path(instrumental), class: 'btn btn-secondary' %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
