.instrumentals-card-container {
  background-color: aqua;
  width: 236px;
  .playlist-card {
    word-break: break-all;
    width: 180px;
    height: 220px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 80px;
    }
  }
}

.master-box-memory-list {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  width: auto;
  // justify-content: space-around;
  // gap: 10px 20px;
}

.instrumentals-container {
  width: 26vw;
}
.create-container {
  width: 26vw;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid rgb(0, 255, 221);
    margin: 8px;
}

.flex-child:first-child {
    margin-right: 20px;
}
