
.differentiator {
//  differentiator from main instrumental views
   font-family: Arial, Helvetica, sans-serif;
  .instrumentals-card-container {
    width: 236px;
    background-color: #a8a8a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    float:left;
    overflow: auto;
    height: 686px;
    margin-top: 20px;
    margin-right: 16px;
    box-shadow: 1px 1px 3px 3px#3b3b3b55;

     .spinning {
       background-color: #a2a6a7;
       padding: 16px;
       margin: 8px;
       border-radius: 16px;
     }
     .spinning:hover {
       background-color: #eeff00;
     }


    .playlist-card {
      margin-top: 8px;
      margin-bottom: 8px;
      word-break: break-all;
      width: 180px;
      height: auto;
      background-color: rgb(221, 221, 221);
      display: flex;
      border-radius: 16px;
      flex-direction: column;
      align-items: center;
      color: rgb(65, 65, 65);
      box-shadow: 1px 1px 3px 3px#3b3b3b55;


      img {
        width: 80px;
      }
    }
    .playlist-card:hover {
      background: #00C9FF;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

  }
}
.master-box-memory-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;

  // Shifting gradient //
  // https://www.gradient-animator.com/ //

    background: linear-gradient(270deg, #32fdc9, #3287fd, #ea9dfb, #fbbb9d, #896df7, #c4c4c4);
    background-size: 1200% 1200%;

        -webkit-animation: AnimationName 50s ease infinite;
        -moz-animation: AnimationName 50s ease infinite;
        animation: AnimationName 50s ease infinite;
    }

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 99%}
        50%{background-position:100% 2%}
        100%{background-position:0% 99%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 99%}
        50%{background-position:100% 2%}
        100%{background-position:0% 99%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 99%}
        50%{background-position:100% 2%}
        100%{background-position:0% 99%}
    }


.speed-track-container {
  border-radius: 8px;
  margin: 20px;
  margin-top: 20px;
  width: 400px;
  height: 500px;
  padding: 8px;
  background-color: rgba(115, 255, 201, 0.959);
  box-shadow: 1px 1px 9px 3px#c7c7c7;
}


.instrumentals-container {
  margin: 16px;
  margin-top: 20px;
  width: 279px;
  height: 786px;
  // Friday https://uigradients.com/#Friday //
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 9px 3px#c7c7c7;
}

.create-container {
  width: 26vw;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    margin: 3px;
}

.flex-child:first-child {
    margin-right: 20px;
}

  .memory-list-scroll {
    padding:24px;
    height:186px;
    width: 600px;
    margin-bottom: 20px;
    background-color: #cfceced5;
    overflow:auto;
    align-items: center;
    border-radius: 8px;
    color: black;
    box-shadow: 1px 1px 3px 3px#3b3b3b55;
  }

  .combine-your-memorylist {
    margin-bottom: 36px;
    background-color: #cfceced5;
    padding: 18px;
    border-radius: 8px;
    width: 600px;
    box-shadow: 1px 1px 3px 3px#3b3b3b55;

  }

  .name-your-memory-list {

    margin-bottom: 36px;
    background-color: #cfceced5;
    padding: 18px;
    border-radius: 8px;
    width: 600px;
    box-shadow: 1px 1px 3px 3px#3b3b3b55;
  }

  .add-flashcards {

    margin-bottom: 36px;
    background-color: #cfceced5;
    padding: 18px;
    border-radius: 8px;
    width: 600px;
    box-shadow: 1px 1px 3px 3px#3b3b3b55;
  }

  .compsition-builder-container {
    // Friday https://uigradients.com/#Friday //
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 1px 9px 3px#c7c7c7;
    padding: 36px;
    width: 700px;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
  }


  //////Sortables/////
  .memorylist-catcher-container {
  align-items: center;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  margin: 20px;
  width: 500px;
  height: 142px;
  padding: 8px;
  background-color: rgba(211, 211, 211, 0.959);
  box-shadow: 1px 1px 3px 3px#3b3b3b55;
}

  .instrumental-catcher-container {
  color: black;
  border-radius: 8px;
  margin: 20px;
  width: 500px;
  height: auot;
  padding: 8px;
  background-color: rgba(211, 211, 211, 0.959);
  box-shadow: 1px 1px 3px 3px#3b3b3b55;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

  .components-container {
  background-position: center;
  border-radius: 8px;
  margin: 20px;
  margin-right: 8px;
  width: 400px;
  height: 500px;
  padding: 8px;
  background-color: rgba(0, 132, 255, 0.959);
  box-shadow: 1px 1px 9px 3px#c7c7c7;
  background-image: url("horizon.gif");

  p {
    color: white;
  }
}

.composition-master-container {
  display: flex;
  border-radius: 8px;
  margin: 20px;
  width: auto;
  height: auto;
  padding: 8px;
  background-color: rgba(75, 75, 75, 0.959);
  box-shadow: 1px 1px 9px 3px#c7c7c7;
}


.catcher-master-container {
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 20px;
  margin-top: 20px;
  width: auto;
  height: auto;
  padding: 8px;
  box-shadow: 1px 1px 9px 3px#c7c7c7;
  // Gradient //
      background: linear-gradient(270deg, #28f7c2, #11e4dd, #11b4e4, #e280ec, #e19cc3, #87e6b0, #87e6d2, #87e6d2);
    background-size: 1600% 1600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

      @-webkit-keyframes AnimationName {
          0%{background-position:0% 50%}
          50%{background-position:100% 50%}
          100%{background-position:0% 50%}
      }
      @-moz-keyframes AnimationName {
          0%{background-position:0% 50%}
          50%{background-position:100% 50%}
          100%{background-position:0% 50%}
      }
      @-o-keyframes AnimationName {
          0%{background-position:0% 50%}
          50%{background-position:100% 50%}
          100%{background-position:0% 50%}
      }
      @keyframes AnimationName {
          0%{background-position:0% 50%}
          50%{background-position:100% 50%}
          100%{background-position:0% 50%}
    }


.hidden-simple-form {
  // visibility: hidden;
  border-radius: 8px;
  margin: 20px;
  width: 400px;
  height: 500px;
  padding: 8px;
  background-color: rgba(104, 104, 104, 0.959);
  box-shadow: 1px 1px 9px 3px#c7c7c7;
}



//////// Inside Instrumental Catcher///////

.instrumental-card-stats {
}

    .playlist-card {
      word-break: break-all;
      width: 180px;
      height: auto;
      background-color: rgb(221, 221, 221);
      display: flex;
      border-radius: 16px;
      flex-direction: column;
      align-items: center;
      color: rgb(65, 65, 65);
      box-shadow: 1px 1px 3px 3px#3b3b3b55;


      img {
        width: 80px;
      }

      .spinning {
        background-color: #a2a6a7;
        padding: 16px;
        margin: 8px;
        border-radius: 16px;
      }
      .spinning:hover {
        background-color: #eeff00;
      }
    }

    .playlist-card:hover {
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }






.placeholder-card-stats {
}
    .placeholder-card {
      word-break: break-all;
      width: auto;
      height: 200px;
      background-color: rgb(221, 221, 221);
      border-radius: 8px;
      color: rgb(65, 65, 65);
      box-shadow: 1px 1px 3px 3px#3b3b3b55;


      img {
        width: auto;
        height: 100px;
        border-radius: 8px;
        border: 2px solid rgb(185, 185, 185);
      }

      .visualizer {
        width: auto;
        margin: 8px;
        border-radius: 8px;
      }
      .spinning:hover {
        background-color: #eeff00;
      }
    }

    .placeholder-card:hover {
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


    .hidden {
      visibility: hidden;
      margin: -50px;
      padding: 0px;
    }

    .submit-button {
      border-radius: 16px;
      width: 260px;
      height: 86px;
      background-color: #d3d3d3;
      font-size: large;
    }

    .submit-button:hover {
         background: linear-gradient(270deg, #32fdc9, #3287fd, #ea9dfb, #fbbb9d, #896df7, #c4c4c4, #ff2323, #dfdfdf, #f295e6, #95c503, #95c503, #00f2ff, #00f2ff);
          background-size: 2600% 2600%;

          -webkit-animation: AnimationName 12s ease infinite;
          -moz-animation: AnimationName 12s ease infinite;
          animation: AnimationName 12s ease infinite;
      }

      @-webkit-keyframes AnimationName {
          0%{background-position:0% 99%}
          50%{background-position:100% 2%}
          100%{background-position:0% 99%}
      }
      @-moz-keyframes AnimationName {
          0%{background-position:0% 99%}
          50%{background-position:100% 2%}
          100%{background-position:0% 99%}
      }
      @keyframes AnimationName {
          0%{background-position:0% 99%}
          50%{background-position:100% 2%}
          100%{background-position:0% 99%}
    }


.input-container {
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.composition-name {
  border-radius: 8px;
  width: 500px;
  color: black;
  background-color: rgb(221, 221, 221);
  box-shadow: 1px 1px 3px 3px#3b3b3b55;
  padding: 16px;
}


.placeholder-box {
  background-color: #bebebe;
  height: 57px;
  border: solid #808080;
  color: #141414;
}


.placeholder-box-instrumental {
  width: 188px;
  background-color: #bebebe;
  height: 270px;
  border: solid #808080;
  color: #141414;
  border-radius: 16px;
  margin-bottom: 20px;
  // .list-group {
  //   background-color: #00C9FF;
  // }
}


.hidden-sortable {
  visibility: hidden;
  margin-top: 170px;
  background-color: #00C9FF;
}


.visualizer {
    width: auto;
    margin-top: -17px;
    margin-left: 23px;
    margin-bottom: 20px;

  img {
    width: 209px;
    height: 119px;
    border-radius: 8px;
    border: 1px solid gray;
    vertical-align: bottom;
  }
}

    .button-container {
        margin-left: 15px;
        margin-top: 16px;
    }



.inner-container {
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #959595;
  width: auto;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
    2px 2px 0.5em rgba(122, 122, 122, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34)
  ;
  border: 1px solid #dedede;
  background:
    -moz-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  -o-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
}
