.master-box-memory-list {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  width: auto;
  // justify-content: space-around;
  // gap: 10px 20px;
}

.vertical-scrollable> .row {
          position: absolute;
          top: 120px;
          bottom: 100px;
          left: 180px;
          width: 50%;
          overflow-y: scroll;
        }
            .col-sm-8 {
            font-size: 24px;
            padding-bottom: 20px;
            padding-top: 18px;
        }


.instrumentals-container {
  width: 26vw;
}
.create-container {
  width: 26vw;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid rgb(0, 255, 221);
    margin: 8px;
}

.flex-child:first-child {
    margin-right: 20px;
}
