.profile-tab-container {
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to left top, rgb(255, 255, 255), rgb(202, 236, 247));;
}

.compositions-box {
  padding: 24px;
  margin-top:28px;
  table {
    box-sizing: border-box;
    padding: 24px;
    font-weight: bold;
    color: #9886FD;
    border-collapse: separate;
    border-spacing: 0px 4px;
    tr {
      th, td {
        padding: 16px 0;
        a {
          color: inherit;
          // &:hover {
          //   text-decoration: none;
          // }
        }
      }
      & td:first-child, & th:first-child {
        padding-left: 24px;
      }
    }
    .hover-effect {
      padding: 16px 0;
      transition: all 0.5s;
      transition-delay: background-color .6s;
      border-radius: 20px;
    }
    .hover-effect:hover {
      transform: perspective(200px) translateZ(10px);
      background-color: white;
      box-shadow: 0px 0px 8px #d5e2f7,
                   2px 6px 12px #d5e2f7,
                   4px 8px 16px #d5e2f7;
    }
  }
}

@media only screen and (max-width: 600px)  {
  .compositions-box {
    table {
    border-collapse: collapse;
      tr {
        font-size: 0.8em;
        th, td {
          padding: 12px 0;
        }
        & td:first-child, & th:first-child {
          padding: 0 8px;
        }
        & .rep {
          display: none;
        }
      }
      .hover-effect:hover {
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

tr td:first-child { border-top-left-radius: 10px; }
tr td:last-child { border-top-right-radius: 10px; }
tr td:first-child { border-bottom-left-radius: 10px; }
tr td:last-child { border-bottom-right-radius: 10px; }
