.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 84px;
  color: black !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  margin-bottom: 20px;
}
