
$track-w: 20em;
$track-h: 0.25em;
$thumb-d: 1.5em;
$track-c: #ccc;
$dist: $track-w - $thumb-d;

@mixin track() {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 0.33em;
  background: $track-c;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
@mixin thumb() {
  box-sizing: border-box;
  border: none;
  width: $thumb-d;
  height: $thumb-d;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.range-slider {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: nowrap;
  width: 200px;
  height: 54px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0px 16px;
  border-radius: 16px;
  // box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
  //             0px 0px 4px rgba(0, 0, 0, 0.1);
  label {
    margin: 0px 8px;
  }
  input[type='range'] {
    &,
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }
    flex: 1 1 100%;
    margin: 0;
    padding: 0;

    &::-webkit-slider-runnable-track {
      @include track();
    }
    &::-moz-range-track {
      @include track;
    }
    &::-ms-track {
      @include track;
    }

    &::-webkit-slider-thumb {
      margin-top: 0.5 * ($track-h - $thumb-d);
      @include thumb;
    }
    &::-moz-range-thumb {
      @include thumb;
    }
    &::-ms-thumb {
      margin-top: 0;
      @include thumb;
    }

    &::-ms-tooltip {
      display: none;
    }

    &:last-of-type::-moz-range-track {
      background: darkred;
      display: none;
      background: none transparent;
    }
  }
}
